k8s_platform: eks

kubeStateMetrics:
  install: true
  replicas: 1
  image:
    repository: registry.k8s.io/kube-state-metrics/kube-state-metrics
    tag: v2.9.2
  ## Ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
  tolerations: []

collector:
  otelcol:
    ## Ref: https://github.com/open-telemetry/opentelemetry-collector/blob/main/processor/memorylimiterprocessor/README.md
    memory_limiter:
      check_interval: 1s
      limit_percentage: 70
      spike_limit_percentage: 30 
    replicas: 1
    image:
      repository: otel/opentelemetry-collector-contrib
      tag: 0.83.0
    kubeStateMetrics:
      endpoint: "kube-state-metrics:8080"
    env:
  # - name: "GOMEMLIMIT"
  #   value: "2750MiB"
  ## Ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
  tolerations: []
  ## Ref: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
  resources: {}
  

metricsDeploymentId: xxxxxxxxx
s3_bucket: "doitintl-eks-metrics-xxxxxxxx-us-east-1"
s3_prefix: "eks-metrics/xxxxxxxx/us-east-1/public"
role_arn: arn:aws:iam::xxxxxxxx:role/doit_eks_us-east-1_public
region: us-east-1
